<!doctype html>
<html lang="en">

<head>
  <title>Atracciones</title>
  <link rel="shortcut icon" href="../Img/logo.png">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Estilo Propio -->
    <link rel="stylesheet" href="../Css/Atracciones.css" type="text/css">
</head>

<body>
  <header>
     <!-- Menu -->    
     <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
     <label for="menu-icon"></label>
     <nav class="nav"> 		
       <ul class="pt-5">
         <li><a href="/index.html">Inicio</a></li>
         <li><a href="./Reglas.html">Reglas Del Parque</a></li>
         <li><a href="./Atraciones.html">Atracciones</a></li>
         <li><a href="./Model/Comprar_Boleto.php">Comprar Boletos</a></li>
       </ul>
     </nav>
  </header>
  <main>
    <!-- Fondo -->
    <div class="Fondo">
        <img src="../Img/Fondo_Los_Rosales.jpg" alt="Balneario Los Rosales" srcset="">
          <!-- Texto Del Fondo -->
          <div class="textFondo">
              <h1>Atracciones</h1>
          </div>
      </div>

    <!-- Card 1 -->
    <div class="wrapper">
        <div class="card text-center">
            <div class="tit">
                <h3>Bubba Tub</h3>
            </div>
            <div class="image">
                <img src="../Img/Bubba Tub.jpg" width="300">
            </div>
            <div class="about-product text-center">
                <p>Disfruta lanzarte con toda la familia en una <br>
                    llanta gigante (máx. 4 personas), gozando una <br>
                    altura de 6 pisos de diversión, deslizándote <br>
                    por sorpresivas hondonadas y un refrescante <br>
                    aterrizaje.</p>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="wrapper">
        <div class="card2 text-center">
            <div class="tit2">
                <h3>Twister</h3>
            </div>
            <div class="image2">
                <img src="../Img/tr.jpg" width="300">
            </div>
            <div class="about-product2 text-center">
                <p>Lánzate sobre una llanta para dos personas a <br>
                    una velocidad que los hará vibrar de emoción <br>
                    con divertidas curvas.</p>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="wrapper">
        <div class="card3 text-center">
            <div class="tit3">
                <h3>Kamikaze</h3>
            </div>
            <div class="image3">
                <img src="../Img/Kamikaze.jpg" width="300">
            </div>
            <div class="about-product3 text-center">
                <p>Vives emociones fuertes de adrenalina pura, <br>
                    en una bajada rápida entre refrescantes <br>
                    caudales y curvas para una experiencia <br>
                    inolvidable.</p>
            </div>
        </div>
    </div>
  
    <!-- Card 4 -->
    <div class="wrapper">
      <div class="card4 text-center">
          <div class="tit4">
              <h3>Double Space Bowl</h3>
          </div>
          <div class="image4">
              <img src="../Img/Double Space Bowl.jpg" width="300">
          </div>
          <div class="about-product4 text-center">
              <p>Para los más intrépidos, construimos estos <br>
                tazones espaciales, donde te podrás deslizar<br>
                desde 15 m. de altura por un divertido tobogán<br>
                a más de 50 km/h, terminando el recorrido con <br>
                un refrescante clavado en una alberca de 3 m. <br>
                de profundidad</p>
          </div>
      </div>
    </div>

      <!-- Card 5 -->
      <div class="wrapper">
        <div class="card5 text-center">
            <div class="tit5">
                <h3>Lazy River</h3>
            </div>
            <div class="image5">
                <img src="../Img/Lazy River.jpg" width="300">
            </div>
            <div class="about-product5 text-center">
                <p>Disfruta de un río de aguas tranquilas y <br>
                  cristalinas para pasear flotando y disfrutar de<br>
                  la naturaleza bajo el esplendoroso sol del <br>
                  Caribe, más de 300 m. en inolvidable descanso.</p>
            </div>
        </div>
      </div>

    <!-- Card 6-->
    <div class="wrapper">
      <div class="card6 text-center">
          <div class="tit6">
              <h3>Wave Pool</h3>
          </div>
          <div class="image6">
              <img src="../Img/Wave Pool.jpeg" width="300">
          </div>
          <div class="about-product6 text-center">
              <p>¡Disfruta de un océano de diversión continuo <br>
                en esta sensacional alberca entre olas de hasta <br>
                un 1 m. de altura!</p>
          </div>
      </div>
   </div>

  </main>
  <footer class="footer-distributed">
    <!-- Pie de página -->
    <div class="footer-left">
          
      <br>
      <p class="footer-links">
        <a href="/index.html">Inicio</a>
        <a href="./Reglas.html">Reglas Del Parque</a>
        <a href="./Atraciones.html">Atracciones</a>
        <a href="./Model/Comprar_Boleto.php">Comprar Boletos</a>
      </p>
      <p class="footer-company-name">Stiven Chacón © 2021</p>
    </div>
    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span> DIRECCION: KM 25 VIA HOBO</span>CAMPOALEGRE/HUILA</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>+1.555.555.5555</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a>losrosales@gmail.com</a></p>
      </div>
      <div class="footer-logo">
        <img src="../Img/logo.png"width="200xp" height="120xp">
    </div>

  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>