<!doctype html>
<html lang="en">

<head>
  <title>Reglas Del Parque</title>
  <link rel="shortcut icon" href="../Img/logo.png">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 <!-- Estilo Propio -->
 <link rel="stylesheet" href="../Css/Reglas.css" type="text/css">

</head>

<body>
  <header>
      <!-- Menu -->    
        <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
        <label for="menu-icon"></label>
        <nav class="nav"> 		
          <ul class="pt-5">
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="./Reglas.html">Reglas Del Parque</a></li>
            <li><a href="./Atraciones.html">Atracciones</a></li>
            <li><a href="./Model/Comprar_Boleto.php">Comprar Boletos</a></li>
          </ul>
        </nav>
  </header>
  <main>
     <!-- Fondo -->
     <div class="Fondo">
      <img src="../Img/Fondo_Los_Rosales.jpg" alt="Balneario Los Rosales" srcset="">
        <!-- Texto Del Fondo -->
        <div class="textFondo">
            <h1>Reglas de funcionamiento</h1>
        </div>
    </div>

    <div class="Normastext">
      <h1>NORMAS DE FUNCIONAMIENTO DE LOS ROSALES</h1>
      
      <P><b> Nos gustaría darle la bienvenida. Para garantizar su seguridad y comodidad, 
        le pedimos que respete las reglas generales de la casa</b> emitidas por SAS AGUA, 
        que opera el zoológico marino "agüita" y el parque Los rosales; 
        son válidos para todos estos parques: <a href="#CONDICIONES">TÉRMINOS Y CONDICIONES DE ENTRADA DE LOS ROSALES </a>
      <br><br>
      En caso de incumplimiento de cualquiera de estas normas, la Dirección declina toda responsabilidad y 
      estará obligada a solicitar a cualquier infractor que abandone el establecimiento de forma inmediata 
      sin derecho a reembolso alguno. El personal del parque está autorizado para hacer cumplir estas normas 
      en nombre de la Dirección.
      <br><br>
      El parque acuático LOS ROSALES es operado por SAS AGUA.
      <br><br>
      Estas normas y reglamentos específicos de Aquasplash complementan las normas y reglamentos
       generales de los parques de SAS AGUA, que están disponibles en www.losRosales.com y 
       se muestran en la recepción. Los visitantes de los Rosales deben respetar las 
       disposiciones de estos dos conjuntos de reglas.
      </P>
    </div>

    <div class="articulo1">
      <a name="CONDICIONES">
        <h1>
          ARTÍCULO 1 – TERMINO Y CONDICIONES DE ACCESO
        </h1>
      </a>


      <br>
      <p>
        Entrar en los Rosales, ya sea individualmente o en grupo, implica la plena aceptación de las normas de la casa.      
      </p>

      <br>
      <h2>
        Título de acceso
      </h2><br>

      <p>
        Los menores de edad que no vayan acompañados de un adulto no podrán acceder al parque. 
        Un adulto podrá acompañar a un máximo de 4 menores. Los menores de edad están bajo la 
        responsabilidad del adulto acompañante, quien deberá permanecer en el lugar.
        <br><br>
        El uso de efectivo está asegurado en todo el Parque. No obstante, en los puntos de 
        venta del Parque, como taquillas, restaurantes y tiendas, existen cajas en las que 
        el pago solo se puede realizar mediante tarjeta bancaria o dispositivos móviles. 
        En cualquier caso, siempre habrá al menos una caja disponible para que los visitantes 
        paguen en efectivo, si así lo desean. Los puntos de venta dispondrán de paneles 
        informativos a tal efecto. Si tienes alguna duda, por favor pregunta al personal 
        del establecimiento, estarán encantados de ayudarte. 
      </p>

      <br><br>
      <h2>
        Prohibiciones de acceso
      </h2><br>

      <p>
        Está prohibida la entrada a cualquier persona que lleve botellas de vidrio, alcohol o 
        cualquier objeto que pueda considerarse peligroso.
        <br><br>

        Queda prohibido el acceso a las instalaciones a las personas que se encuentren en estado 
        de embriaguez, o que hayan consumido cualquier sustancia que pueda perjudicar su 
        capacidad, así como a quienes se comporten de forma perjudicial para la seguridad 
        o la tranquilidad.
        <br><br>

        Es necesario estar en plena posesión de sus facultades físicas y mentales para participar
        en las actividades de Aquasplash. Queda terminantemente prohibida la introducción de 
        cualquier arma, incluso simulada o inofensiva, o cualquier objeto o producto peligroso.
        <br><br>
        Está prohibido introducir animales en el recinto
      </p>

      <br><br>
      <h2>
        trajes de baño autorizados
      </h2>

      <br>
      <p>
        Los trajes de baño (de una o dos piezas) y los shorts de baño son las únicas prendas permitidas
        para nadar y no deben llegar por debajo de las rodillas. También se permiten camisetas 
        hechas de lycra o materiales impermeables, pero solo por encima de los codos. 
        En los toboganes, la cabeza y el cuello deben mantenerse despejados para evitar 
        el riesgo de estrangulamiento. Todos los demás textiles están estrictamente prohibidos 
        al nadar.
        <br><br>

        Están terminantemente prohibidos los trajes de baño largos, vestidos de baño, pareos, jeans, 
        jogging y calzoncillos debajo de los shorts de baño. Está prohibido nadar en topless.
        <br><br>

        El calzado de calle o deportivo solo está permitido en la zona de recepción (tienda, 
        restaurantes, vestuarios). Solo se permiten chanclas después de la inmersión en los 
        baños de pies.
      </p>
      
    </div>


  </main>
  <footer class="footer-distributed">
    <!-- Pie de página -->
    <div class="footer-left">
          
      <br>
      <p class="footer-links">
        <a href="/index.html">Inicio</a>
        <a href="./Reglas.html">Reglas Del Parque</a>
        <a href="./Atraciones.html">Atracciones</a>
        <a href="./Model/Comprar_Boleto.php">Comprar Boletos</a>
      </p>
      <p class="footer-company-name">Stiven Chacón © 2021</p>
    </div>
    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span> DIRECCION: KM 25 VIA HOBO</span>CAMPOALEGRE/HUILA</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>+1.555.555.5555</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a>losrosales@gmail.com</a></p>
      </div>
      <div class="footer-logo">
        <img src="../Img/logo.png"width="200xp" height="120xp">
    </div>

  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>